body {
    width: 50%;
    margin: 100px auto;
    background-color: lightgray;
    font-family: "Kanit", sans-serif;
  }
  
  .container {
    width: 900px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    color: black;
    display: flex;
  }
  
  .calendar-right {
    height: 500px;
    width: 600px;
  }
  
  .year {
    color: #e8e8e8;
    font-size: 30px;
    float: right;
    position: relative;
    right: 75px;
    top: 20px;
    font-weight: bold;
  }
  
  .triangle-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #e8e8e8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    right: 90px;
    top: 36px;
  }
  
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #e8e8e8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    left: 20px;
    top: 36px;
  }
  .triangle-left:hover {
    border-right: 10px solid#2ECC71;
  }
  .triangle-right:hover {
    border-left: 10px solid#2ECC71;
  }
  
  .active-month {
    color: #27ae60;
    font-weight: bold;
  }
  .month-hover:hover {
    color: #27e879 !important;
    cursor: pointer;
  }
  
  .months {
    color: #aaaaaa;
    position: relative;
    left: 50px;
    top: 90px;
    word-spacing: 10px;
  }
  
  .month-line {
    border-color: #e8e8e8;
    position: relative;
    top: 85px;
    width: 90%;
    left: 0;
  }
  
  .days {
    color: #aaaaaa;
    position: relative;
    font-size: 18px;
    left: 50px;
    top: 80px;
    word-spacing: 35px;
    font-weight: 600;
  }
  
  .num-dates {
    float: right;
    position: relative;
    top: 110px;
    right: 30px;
    z-index: 1;
    width: 90%;
  }
  
  .num-dates span {
    display: inline-block;
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
  }
  
  .week {
    margin-bottom: 30px;
    word-spacing: 50px;
    display: flex;
    justify-content: space-around;
  }
  
  .active-day {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #2ecc71;
    color: white;
    display: inline-block;
    position: relative;
    line-height: 24px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    top: -4px;
  }
  
  .selected-day {
    border: 1px solid #2ecc71;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    line-height: 24px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    top: -4px;
  }
  
  .white {
    color: white;
  }
  
  .event-indicator {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #2980b9;
    position: relative;
    top: 304px;
    left: 695px;
  }
  
  .two {
    position: relative;
    top: 168px;
    left: 535px;
  }
  
  .grey {
    color: #aaaab1;
  }
  
  .calendar-left {
    width: 300px;
    height: 500px;
    border-radius: 20px 0px 0px 20px;
    background-color: #2ecc71;
    color: white;
  }
  
  .hamburger {
    position: relative;
    top: 25px;
    left: 25px;
  }
  
  .burger-line:hover,
  .hamburger:hover {
    background-color: #27e879 !important;
  }
  
  .burger-line {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 15%;
    margin-bottom: 3px;
  }
  
  .num-date {
    font-size: 150px;
    width: 100%;
    margin: 0 auto;
    font-weight: 700;
    text-align: center;
  }
  
  .day {
    width: 100%;
    text-align: center;
    margin: 0px auto;
    font-size: 24px;
    position: relative;
    bottom: 25px;
  }
  
  .current-events {
    font-size: 15px;
    margin-left: 25px;
  }
  
  .create-event {
    font-size: 18px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .event-line {
    width: 90%;
  }
  
  .add-event {
    width: 20px;
    height: 20px;
    padding: 0px;
    border-radius: 50%;
    border: solid white 2px;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .add {
    font-size: 25px;
    position: relative;
    left: 3px;
    bottom: 7px;
  }
  
  .add:hover,
  .create-event:hover,
  .add-event:hover {
    color: rgba(255, 255, 255, 0.8) !important;
    border-color: rgba(255, 255, 255, 0.8) !important;
  }
  
  .posts {
    text-decoration: underline dotted;
  }
  .posts:hover {
    color: rgba(255, 255, 255, 0.8) !important;
    cursor: pointer;
  }
  
  .hide {
    display: none;
  }
  
  .calendar-event-create {
    padding: 50px 30px;
  }
  
  .calendar-event-create form input[type="text"],
  .calendar-event-create form input[type="datetime-local"] {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: none;
    color: white;
    width: 100%;
    margin: 30px 0;
    line-height: 24px;
  }
  
  .calendar-event-create form input[type="text"]:hover,
  .calendar-event-create form input[type="datetime-local"]:hover {
    border-bottom: 1px solid white;
  }
  
  .calendar-event-create form input[type="text"]::placeholder {
    color: white;
  }
  
  .calendar-event-create form input[type="submit"] {
    width: 100%;
    background: white;
    padding: 10px 15px;
    border-radius: 5px;
    background: none;
    color: white;
    border: 1px solid white;
    margin-top: 50px;
  }
  
  .calendar-event-create form input[type="submit"]:hover {
    background: white;
    color: #27ae60;
    cursor: pointer;
  }
  
  .calendar-event-create .heading {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
